---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout>
  <Header />
  <main class="flex grow flex-col items-center m-8 md:m-16 lg:m-24">
    <div
      class="w-full max-w-lg md:max-w-xl lg:max-w-2xl text-2xl md:text-3xl lg:text-4xl font-medium"
    >
      <h1>
        <span class="bg-button rounded px-1.5 font-code text-accent">404</span>
        ERROR: NOT FOUND
      </h1>
    </div>
    <div
      class="w-full max-w-lg md:max-w-xl lg:max-w-2xl m-4 md:m-8 md:space-y-2 text-sm/6 md:text-base lg:text-lg"
    >
      <p>HMM... LOOKS LIKE THERE'S NOTHING HERE.</p>
      <p>
        WOULD YOU LIKE TO RETURN?
        <span class="rounded hover:bg-background hover:ease-in duration-150">
          <a
            class="px-1 rounded font-code font-medium text-accent cursor-pointer hover:bg-accent/10 hover:ease-in duration-150"
            href="/"
          >
            <span class="pr-1 font-silkscreen">&gt;</span>HOME
          </a>
        </span>
      </p>
    </div>
  </main>
  <Footer />
</Layout>
