---
import ThemeToggle from "../components/ThemeToggle";
---

<div class="flex w-full flex-row justify-between text-muted">
  <div class="self-center m-4">
    <h1 class="text-xl">BRIAN.MD</h1>
  </div>
  <ThemeToggle client:only="react" />
</div>
