---
import '../main.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/png" href="/favicon.png" /> -->
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <!-- Primary Meta Tags -->
    <title>Brian Ho</title>
    <meta name="description" content="">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://brian.md" />
    <meta property="og:title" content="Brian Ho" />
    <meta property="og:description" content="" />
    <!-- <meta property="og:image" content="https://brian.md/banner.png" /> -->
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Brian Ho" />
    <meta property="twitter:description" content="" />
    <!-- <meta property="twitter:image" content="https://brian.md/banner.png" /> -->
  </head>
  <body class="bg-background bg-dots font-mono text-body">
    <slot />
  </body>
</html>
