---
import '../main.css'
const ogImage = new URL('/banner-dark.png', Astro.url);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/ratz.png" />
    <link rel="icon" type="image/svg+xml" href="/ratz.svg" />
    <!-- Primary Meta Tags -->
    <title>Brian Ho</title>
    <meta name="description" content="">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://brian.md" />
    <meta property="og:title" content="Brian Ho" />
    <meta property="og:description" content="" />
    <meta property="og:image" content={ogImage} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Brian Ho" />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content={ogImage} />
  </head>
  <body class="flex min-h-screen flex-col bg-background bg-dots font-mono text-body">
    <slot />
  </body>
</html>
